.footer{
  /*position: absolute;*/
  position: fixed;
  bottom: 0;
  width:100%;
  height:50px;
  background-color:black;
  text-align: center;
  color:white;
}

/* Style for the form container */
.form-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between elements */
  margin: 20px;
  padding: 10px;
}

/* Optional: Style for the dropdowns */
.inline-dropdown {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Optional: Style for the submit button */
.inline-button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* Add some spacing around the text to align well */
.form-inline label {
  margin-right: 5px;
}


/*Styling for view one employee page*/
.member-details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.button-group {
  margin-bottom: 20px;
}

.button-group .btn {
  margin-right: 15px;
  margin-bottom: 10px;
}

.member-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #343a40;
}

.card-body p {
  font-size: 18px;
  margin: 10px 0;
}

.card-body p strong {
  font-weight: bold;
}

